* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 10;
    --bg-color: lightgray;
    --title-color: #ffffff;
    --text-color: #ffffff;
    --button-bg: #ffffff;
    --button-text-color: #000000;
    --button-border-color: var(--button-bg); /* Separate button border color */
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: url('./assets/background.jpg') var(--bg-color) 50% / cover no-repeat;
    transition: background-image 0.5s ease;
}

#app {
    display: grid;
    justify-items: center;
    gap: 2.5rem;
}

h1 {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 2.2rem;
    text-align: center;
    padding: 1rem;
}

button {
    border: .2rem solid var(--button-border-color); /* Use separate variable for button border color */
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border-radius: .5rem;
    padding: 1.2rem 3.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

p {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 1.2rem;
    text-align: center;

    padding: 3rem;
    border-radius: 1.5%;

    max-width: 30rem;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 7.0rem;
    left: 17rem;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px; /* Add internal space for links */
}

nav a {
    text-decoration: none;
    color: var(--title-color);
    font-family: Roboto;
    font-size: 1.2rem;
    margin-right: 2rem;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--Platform-Aliases-Texto-base);
}
